.espacio1{
    height: 30px;
}
.margenTop{
    top: 350px;
}
#menu{
    width:100%;
    height: 200px;
    display: none;
    padding:5px;
    border:2px solid silver;
    background-color:#019CDE;
}
.lista li{
    width: 19%;
}
.links{
    font-family: Lato;
    font-size: 15px;
    color:grey;
}
.links:hover,
.links:focus,
.lista li:focus{
    color:#019CDE;
    text-decoration: none;
    -moz-border-style:none;

}
a:hover{
    text-decoration:none;
}
.cajaEnlaces{
    padding-top: 50px;
    padding-left: 50px;
    letter-spacing: 2px;
    font-size: 13px;

}
.caja1 ul{
    border-right: 1px silver solid;
}
.enlaceCentro{
    margin-top: 40px;
    list-style: none;
    font-weight: bold;
    color:white; 
}
.enlaceCentro:hover{
    color:#767676;
}
.enlaces{
    list-style: none;
    padding: 10px;
}
.enlaces a{
    color: white;
}
.enlaces a:hover{
    text-decoration: underline;
}
.absoluto{
    position:absolute;
}
h1{
    text-shadow: 0 0 160px #000000;
    color:#FFFFFF;
    font-size: 4.28571rem;
    line-height: 1.66667em;
    letter-spacing: 0.02em;
    font-weight: 300;
    padding-bottom: 0;
    padding-top: 0;
}
.btn {
    background: none repeat scroll 0 0 #019CDE;
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.07143rem;
    font-weight: bold;
    line-height: 1.4545em;
    margin-bottom: 0;
    padding: 9px 15px 10px;
    text-align: center;
    vertical-align: middle;
}
.btn a{
    color: #E6E6E6;
    padding:100px;
}
video{
    width: 100%;
    height:100%;
}
.botonEn{
    background: #EBEBEB;
    border-radius: 5px;
    text-shadow: none;
    color:black;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: none;
    border:none;
    padding-top: 8px;
    padding-bottom:  8px;
}
.botonCr{
    background: #019CDE;
    border-radius: 5px;
    text-shadow: none;
    color:white;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: none;
    border:none;
    padding-top: 8px;
    padding-bottom:  8px;
}
.cajaBoton{
    padding-left: 0px;
}
//barra debajo del video
.derecha{
    margin-right: 20px;
}
.cajaIconosMedio{
    border-bottom: 1px silver solid;
}
#flechaAbajo{
    cursor:pointer;
}
.icono{
    color:#333333;
}
//entre texto foto iphone
#foto{
    height: 250px;
    width: 300px;
}
.letrasMovil{
    vertical-align: middle;
}
.letrasMovil p{
    color: #777777;
    font-size: 1.071rem;
    line-height: 1.5em;
    margin: 0;
    padding-bottom: 14px;
    padding-top: 4px;
}

#azul{
    background-color:  #019CDE;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    color:white;
    font-family:  'Source Sans Pro';
    letter-spacing: 0.4px;
}
#azul a{
    color:white;
    font-weight: bold;
    text-decoration: none;

}

//barra debajo del video
.derecha{
    margin-right: 20px;
}
.cajaIconosMedio{
    border-bottom: 1px silver solid;


}

.imagenFondo{
    background-image: url('../img/fondoA.jpg');
    padding-left:100px;
    padding:15px;
    color:white;
    font-family:  'Source Sans Pro';
    letter-spacing: 0.4px;
  
}
.imagenFondo a{
   color:white;
   font-weight: bold;
   text-decoration: none;

}
.imagenFondo>div{
    margin-top: 13%;
    margin-bottom: 5%;
    margin-left: 8%;
}