.espacio1{
    height: 30px;
}
#menu{
    width:100%;
    height: 200px;
    display: none;
    padding:5px;
    border:2px solid silver;
    background-color:#019CDE;
}
.lista li{
    width: 15%;
}
.lista li b{
   color:#019CDE;
}
a:hover{
    text-decoration:none;
}
.cajaEnlaces{
    padding-top: 50px;
    padding-left: 50px;
    letter-spacing: 2px;
    font-size: 13px;
    
}
.caja1 ul{
    border-right: 1px silver solid;
}
.enlaces{
    list-style: none;
    padding: 10px;
}
.enlaces a{
    color: white;
    
}
.enlaces a:hover{
    text-decoration: underline;
}
.video{
    z-index: -1;
}
.botonEn{
    background-color: silver;
}
.botonCr{
    background-color: #019CDE;
}